---
layout: page
description: "一 叶 知 秋"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:150 }}
        </div>
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>

<p>00博客相关</p>

<a href="https://1734320.github.io">预览博客</a>
<a href="https://github.com/1734320/1734320.github.io/edit/master/README.md">编辑博客</a>
<a href="https://github.com/guodongxiaren/README/blob/master/README.md">代码教程</a>
         
<p>01结构设计</p>

  <a href="https://www.ftcad.com/">飞图CAD</a> &nbsp;&nbsp;&nbsp;     
  <a href="http://www.gb18306.net/">地震动参数18306</a> &nbsp;&nbsp;&nbsp;           
 <a href="http://www.dinochen.com/article.asp?id=19"> 陈学伟的博客</a>&nbsp;&nbsp;&nbsp;       
 <a href="http://carrot1983.ysepan.com">拉移随心</a> &nbsp;&nbsp;&nbsp;          
 <a href="https://i.youku.com/i/UMjg0Mzk1NDc0MA==?spm=a2h1n.8251843.0.0"> AST胡工</a>&nbsp;&nbsp;&nbsp;       
 <a href="https://wenku.baidu.com/view/79e3905b8d9951e79b89680203d8ce2f006665ec.html"> 老虎板王相对探索者的优势个人理解</a>&nbsp; 
 <a href="https://bbs.co188.com/thread-8906533-1-1.html">站在巨人的肩膀上之经验总结</a> &nbsp;&nbsp;&nbsp;
 <a href="hhttps://space.bilibili.com/1072605650?spm_id_from=333.337.search-card.all.click">峰源哔哩哔哩</a> &nbsp;&nbsp;&nbsp; 
 <a href="https://www.bilibili.com/video/BV15B4y1m7of?spm_id_from=333.999.0.0">探索者校审系统 V2022 新规范版</a> &nbsp;&nbsp;&nbsp;   
  <a href="https://www.bilibili.com/video/BV1At411y7CQ?p=3">老虎板王有声视频</a> &nbsp;&nbsp;&nbsp;  
 










<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}






