---
layout: page
description: "一 叶 知 秋"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:150 }}
        </div>
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>



<h3>一、博客相关</h3>

 <p>01，博客：&nbsp; <a href="https://1734320.github.io" target="_blank">a,预览博客</a>&nbsp;
<a href="https://github.com/1734320/1734320.github.io/edit/master/index.html" target="_blank">b,编辑博客</a>&nbsp;
<a href="https://github.com/guodongxiaren/README/blob/master/README.md" target="_blank">c,代码教程</a> </p> 

<h3>二、常用导航</h3> 
<p> 01_网购：&nbsp; 
        <a href="https://www.taobao.com/" target="_blank"">淘宝</a> &nbsp;
      <a href="https://www.jd.com/"  target="_blank">京东</a> &nbsp;   </p> 
<p> 02_办公：&nbsp; 
    <a href="https://www.52pojie.cn/" target="_blank">吾爱破解</a> &nbsp;
    <a href="https://www.aliyundrive.com/drive/" target="_blank">阿里云盘</a> &nbsp; 
    <a href="https://www.baidu.com/" target="_blank">百度</a> &nbsp;
</p> 
    
 <p> 03_TV直播源：&nbsp; 
    <a href="https://aliyunpantv.gitlab.io/" target="_blank">阿里云盘TV版本</a> &nbsp;
    <a href="https://1734320.github.io/tv1.txt" target="_blank">直播源TV1</a> &nbsp;
    <a href="https://github.com/SPX372928/MyIPTV" target="_blank">标准协议直播源多</a> &nbsp; </p> 
    
 <p> 04_娱乐电影：&nbsp; 
    <a href="https://www.348z.com/" target="_blank">348蓝光电影</a> &nbsp;
    <a href="https://ddrk.me/tag/douban-top250/" target="_blank">低端影视</a> &nbsp;
    <a https://www.sharerw.com/" target="_blank">分享者</a> &nbsp;
</p> 
                                               
                                           
    
         
<h3>三、结构设计</h3>

 <p> 01_飞图cad：&nbsp; 
     <a href="https://www.ftcad.com/" target="_blank">飞图CAD</a> &nbsp;
     <a href="https://space.bilibili.com/1517096196?spm_id_from=333.337.search-card.all.click" target="_blank">飞图CAD视频教程</a> </p> 
     
    <p>02_老虎板王：&nbsp; 
        <a href="http://www.banwangcad.com/index.aspx" target="_blank">老虎板王</a> &nbsp; 
        <a href="https://www.bilibili.com/video/BV1At411y7CQ?p=3" target="_blank">老虎板王有声视频</a> &nbsp; 
       <a href="https://wenku.baidu.com/view/79e3905b8d9951e79b89680203d8ce2f006665ec.html" target="_blank"> 老虎板王个人理解</a>  &nbsp;
       <a href="https://bbs.co188.com/thread-8906533-1-1.html" target="_blank">站在巨人的肩膀上之经验总结</a> &nbsp;</p> 

 
<p> 03_探索者&nbsp; 
    <a href="https://www.tsz.com.cn/ " target="_blank">a，探索者校官网 </a> &nbsp;
   <a href="https://www.bilibili.com/video/BV15B4y1m7of?spm_id_from=333.999.0.0" target="_blank">b，探索者校审系统教程 V2022</a> &nbsp;
 
   </p> 

<p> 04_地震动参数&nbsp; 
    <a href="http://www.gb18306.net/" target="_blank">地震动参数18306</a> &nbsp;
    <a href="https://www.yjk.cn/" target="_blank">盈建科结构软件</a> &nbsp;
    <a href="https://www.mohurd.gov.cn/" target="_blank">住建部</a> &nbsp;
</p>

 <p> 05_牛人&nbsp;
     <a href="http://www.dinochen.com/article.asp?id=19" target="_blank"> 陈博（83香港教授）博客</a>&nbsp;
     <a href="http://www.jiegoublog.cn/" target="_blank"> 徐珂结构总结博客</a>&nbsp;
     <a href="https://i.youku.com/i/UMjg0Mzk1NDc0MA==?spm=a2h1n.8251843.0.0" target="_blank"> d,AST胡工</a>&nbsp;    
</p>     
     
<p> 06_招聘： &nbsp; 
 <a href="https://www.buildhr.com" target="_blank">建筑英才网</a>   </p>
<p> 07_培训及考试： &nbsp; 
  <a href="https://ke.qq.com/course/133303?taid=12328733688072375" target="_blank">北京峰源腾讯课堂</a> &nbsp;  
  <a href="hhttps://space.bilibili.com/1072605650?spm_id_from=333.337.search-card.all.click" target="_blank">峰源哔哩哔哩</a> &nbsp;
  <a href="http://www.structure.com.cn/list/48.html" target="_blank">郎筑结构</a> &nbsp; 
  <a href="https://h5.zxx.edu.cn/syncClassroom" target="_blank">国家小学智慧教育平台</a> &nbsp; 
</p>

<p> 08_图集相关 &nbsp; 
<a href="http://www.jianbiaoku.com/?ivk_sa=1024320u" target="_blank">建标库</a> &nbsp; 
<a href="https://ebook.chinabuilding.com.cn/zbooklib/index?SiteID=1" target="_blank">国标电子图库</a> &nbsp; 
 <a href="http://www.chinabuilding.com.cn/books.html" target="_blank">中国建筑标准设计网</a> &nbsp;    
    
    
    

<h3> 四、win10系统及装机软件</h3>
   <p> 01,系统：&nbsp; <a href="https://msdn.pe8.com/win10.html/" target="_blank">程序员原版系统</a> &nbsp; 
    <a href="https://www.wepe.com.cn/" target="_blank">微PE工具箱</a> &nbsp; 
    <a href="https://www.wepe.com.cn/" target="_blank">微PE工具箱</a> &nbsp; </p>
  <p> 02,装机软件：&nbsp; 
    <a href="https://weixin.qq.com/" target="_blank">微信</a> &nbsp;
    <a href="https://im.qq.com/pcqq/" target="_blank">QQ</a> &nbsp;
    <a href="https://im.qq.com/pcqq/" target="_blank">QQ</a> &nbsp;
    <a href="https://www.voidtools.com/zh-cn/" target="_blank">Everything</a> &nbsp;

<p> 03_cad相关  &nbsp; 
     <a href="http://www.cadzj.com/" target="_blank">cad之家</a> &nbsp; 
     <a href="http://www.uzzf.com/key/AutoCAD/" target="_blank">AutoCAD精简绿色软件大全</a> &nbsp; 
     <a href="https://www.51zxw.net/" target="_blank">我要自学网</a> &nbsp; 

      
<p> 04_lsp插件&nbsp; 
<a href="http://carrot1983.ysepan.com" target="_blank">拉移随心</a> &nbsp; 
<a href="https://www.msteel.top/" target="_blank">Msteel工具箱</a> &nbsp; 
<a href="https://www.cadprint.cn" target="_blank">BatchPlot批量打印软</a> &nbsp;</p>
<p>&nbsp;<a href="http://atlisp.cn/" target="_blank">cadt应用云</a> &nbsp;  
<a href="https://www.cadprint.cn/" target="_blank">易出图</a> &nbsp;  
   <a href="http://ycz007.ysepan.com/" target="_blank">严从志小站</a> &nbsp; </p>


<p> 05_cad设置技巧：&nbsp; </p>
<p>a,cad画图时弹出标注样式管理器,怎么关掉？具体方法：依次在CAD命令栏中输入pickfirst — 回车键 — 1 。qaflags —回车键— 0。<p>
<p>b,完美解决：一、双击图纸打开一个新的CAD窗口，解决办法：输入命令taskbar，然后 改成0。<p>
<p>c,dwg文件如何默认探索者2015打开：探索者-工具-选项-文件-支持文件搜索路径-先点添加，出现光标闪烁，点浏
        览："D:\Program Files\TszCAD\Tssd2015\sys18"-点上移到第一位---再点添加，
        出现光标闪烁，点浏览："D:\Program Files\TszCAD\Tssd2015\prg"-点上移到第二位--关闭CAD---双击图纸---你
       会发现默认探索者打开了。<p>  
  <p> d,cad2022设置</p>
  <p>1，AutoCAD2022怎么关闭开始选项卡，在如图所示命令行输入“STARTMODE”，输入数值0。STARTUP 改为0。</p>
   <p>取消被选中亮显SELECTIONEFFECT改为0 。</p> 

<p>2，CAD无法拖入打开文件的解决方法：&nbsp; </p>
    
    <p>Win+R，输入regedit并打开。复制路径并进入：</p>
<p>HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System </p>

<p>将EnableLUA中的数值数据改为0，重启计算机</p>



<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}






